<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
                </svg>
              </span>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                  c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
                </svg>
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.stackoverflow_username %}
          <li>
            <a href="http://stackoverflow.com/users/{{ site.stackoverflow_userid }}">
              <span class="icon icon-stackoverflow">
                <!-- <img src="/so-icon.png" width="16px" height="16px"> -->
                <svg viewBox="0 0 200 200">     
<image width="200" height="200" xlink:href="data:image/png;base64, 
iVBORw0KGgoAAAANSUhEUgAAAJ4AAACeCAQAAABpjHvwAAAABGdBTUEAALGPC/xhBQAAAAJiS0dE
AP+Hj8y/AAAJiklEQVR42u2dfXAU5R2AnySASYUEBdoCQnW0IkhHYChgwyXoaFuhWhwQLNXBCue2
9Ao3LJ3YiBA+Wpk6iwF3gPWYAUTFph+SKdRCcSAfEz4EBNGCNk4p2E7pMNRcLCFAkv6RuyR3u3t7
8b3vvM8fzO3v/b1vfvfw7mX3vd1NVhuSL0p2sgtIZ6Q8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8
AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AaQ8AXrFYpCsJBWvTeIV5qgfdKdPLL9q
zYrFYMmQp+WyisVkc5xJ6rXo+8VSXpruttp4jrKEbGAczyWrijSceVpvyighpyPQwiT1aLS9e/Ru
q91JBfeEBc8wVr0SXf+evdv+lyGm2F38MhmlpN3MA206b5mCbUxRq6Pp3aN3WwBtK3NNwbN8Q/3c
uW/P3m0BvJw3xW5lbaLLSMuZB9qD7LUIT1XfduopZx7qX9hgEd6s3ZzIKtJUHvBz6k2xIbycyBLS
Vp56mbm0msJztMcSV0PaygO1jhctwhu1ryaqgpSVZ+QZgxyTlmNeURnAK4mqMUXlGdls57AxInKW
2syTXDeFH9aeSkyVKSoPjRncxkHDFTlNPcEKi/B6bXgiikxJeYYXLwA3sc/4gUPyGo6YYv3YqiXg
4DMF5Rkz0Do2+vCGURopW73OXMwrKvfhiX+lKXeGYRSyj9yw4GZ+oly376N5eckUbGKM+rE5N4PP
MIwRVJrUwXx2G/kRuq3jgCmWx6taDnElxeRxN9aSvk21cYtdJ7WNH9FoCk+kJL7Fpt5uO4W36G/Z
9C+mKSfs+mnz8ZmCV5mgngwNZfh6njGSt/maZVMjs5Q/2/XTdjPVFDzJRLW5ayCDP/MAlNNM5Jhl
Uz92Gc/YdpzHJVPsHpbFr9IUnHkAxpfYwSM2jWsoVSzL1mbzpinYSqF6qHMzw3fbdowcXuJnNo2/
Ya7SbNWgvclsU/BvjFEvBzcyfLdtR2lRFrLYYtEJYDb7jAGWLT/l36bY11kTnxpTdua1YzzK6+RZ
Nn3MVOUTc1ibxi6L7PvV/e0vesRuG8SYyB+xXpy6yCPKQXNY28w8U/A8o1U/9JDdNohymIl8ZNk0
kHeMmRbxxZw1xYaxLva1pbw8UP7Ot6ixbMqjwlDDg6qfpy0m2FPaw7GuLMm7rV7Iu56rznlGH7Yw
x6ZxAwuVltCQVs4iU94FRqsXM2a31Qezj3r9x3ofp0zlKk/wK5vGBew0bgyLPWuxq3+FjbGtP6kz
T18fOJI7z3K2e6475Rvz2GRzLetxpikhBynaBOowr6r8cPEbMXjDwfedPHn6cOrp3bH5Cat5zUmg
8R0qbNZdzvGQ8teuAW0VS01ZxxaPj8EbDpDM3fa5LurgdrZwRn9cj1iRsgcXn1o2DeegcX9IZCVh
KyoYTInlG0jazNPv4AxWi5WnWUmFp9W+pzGUXYyxbLqGW9nWuamN5hjBz9PzzFf3Zspx3lKs13lH
soNT+nTd9n9E+SdFWC9M9WarUWZ09FQ/6FhT2cZodS8xJkkzTx/FKYf/uBOsoNJjU56RwwbsFqde
xa0EDn+0HKq5lWfU3cHGDDg908exkQmOae9R6rFd/DSe5QWbpv08qjS0v9SG8T+1yzpfBsgDPYvv
s9zms6srhymzE2jMZhs3WDad5iHlH1YNGSEPAgLLTNe2mzlIqeeAVYMxmUqsr8m7wDTFYj06Y+QB
6NnMYhkjHROrKLMSaNzJn7jdIr+JB5Q6czij5EFAYBkjHBP3U+o5FB40BlHJvWHBVh5T/mA1RMbJ
A9B78QRLLedQKHsoCxdo5LGdGSGhRcp66+4ZKQ8CApdxm2Pibp73vNc1YGTxIp2LU2sV1a5rxsoD
0PvwNKUMc0ysZEWYwAW8TDbwO2Yptm8ro+VBQOBShjom/p5lni6LAcY0KjjOg0qE+9AyXh6AnodC
CU7XF7dRwcpOgcYYzimXIneIHSkrDwICf8GXHdLaeJ0Vnvqohkxneb4NnKaG992t0fbQ++JhCQMc
0lp4jdXRCExbeb5bAveMNVBLDVUcc0d1g7veFw8lNtdOdVLrcTmPlb7yHmdHSKCJOmqp5pD7slNf
vT9evBRESLnP+hQulPSVtwnFsuEax6iihlp3Q6T+en+8qPS1bKzyTImmhvSVd5q7Iia0copqqqlx
X7BL0QeyBA83mhoKPXVEQZrK8w3iP1EP+RE1VFHrPmvVqA9kCYtCrl3e4/ludAOnq7yZ/LbbQ5+j
hhqq3GfCG/TBlKB0CPymJ8rnW6SrvHUs/MI/4iJV1FLF++4u1wbogylhAb2p9EyPdqB0lbeZJ3G8
NsABP3VUUcO77sC3FPpwStnoORntAGkqD3y5TGIyxdxr8YHfPZo4QhU11Dkf5ISStvKC+HoxjiJc
uLhJ8Ee3cJSZ7k/tE+L5N45iIs9y4ChyfNmMohgXxY4LAPY0URDpPCVj5XXiuwMXxUyOYiU5nHfc
D3RuJPZvacXk+XniuOupZwv4huKiGBd3R921KnlVx2TmrTYN8rzgKpXvZoqYTDFjcbr57j73gc6N
VaZKlsbxgukUmXnhuC+xk53g60shLoqYYPPldjOHujdyLElReUHcn7OHPeDLZTzFuJgcdpBzxB3l
o9/iQYrLC+K+Qi214MthLEUUUchAAKJ6clm8SJC88pH8mkb8NOLHTwP+wOtG/F5/9OO4WzjKUdb6
shiFi2Icnx0VTxI184bwPbumcmjoENuIn4Yu234a+Qw/jd6QYzl3Gx/yIZuSqS5x8vIjthZEXCEG
oPxKQGb7vA3O2oQ+OyqcRMlzlONILrmm26gaE/vgrXASdVltvvgQFjSKDyFCesvrxq+aeCDlCSDl
CZAoeVk0xWHUJMtL0G9br4JS3ot88ikgn37kB/4t6HgV3O4OSf6FkcDTM+91LnHJKau8XxeZBRTQ
dbt/4HXwm5DPkiMtSMqd23obnedT+Q0BnQ3RjBg/Uk5eNHibaeZisqtIi9vkU5cEzbxVcfpyQXTF
Wgw58wSQ8gSQ8gSQ8gSQ8gSQ8gSQ8gSQ8gRI0EFycg9m44WceQJIeQJIeQJIeQJIeQJIeQJIeQLE
6TgvXoufqYWceQJIeQJIeQJIeQJIeQJIeQJIeQJIeQLE7a7HnoCceQJIeQJIeQJIeQJIeQJIeQJI
eQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQJIeQL8
H/roiwlKIGAOAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE1LTA4LTI4VDAwOjM2OjExKzAyOjAwy1Zv
5QAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNS0wOC0yOFQwMDozNjoxMSswMjowMLoL11kAAAAZdEVY
dFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC
"/> 
</svg>  

              </span>
              <span class="username">{{ site.stackoverflow_username }}</span>
            </a>
          </li>
          {% endif %}


        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
